/* Super awesome: https://jgthms.com/web-design-in-4-minutes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --space-m: 1rem;
    --space-l: 2rem;

    --color-primary: #023047;
    --color-secondary: #219EBC;
    --color-tertiary: #8ECAE6;
    --color-4: #FFB703;
    --color-5: #FB8500;
    --color-dark: #444444;
    --color-white: #ffffff;
}

/* General & theme */

html {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0 auto;
    padding: 1.5rem 1rem;
    max-width: 40em;
    color: var(--color-dark);
    line-height: 1.5;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2 {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
}
a:visited {
    color: var(--color-primary);
}

.header h1 {
    margin: .5em 0 var(--space-l) 0;
    font-size: 1.8em;
    cursor: pointer;
}

.header h1 a {
    color: var(--color-primary);
}

.footer {
    margin-top: calc(var(--space-l) * 2);
    border-top: 1px solid #e7e7e7;
}

/* Page specific */

.postsList {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.postsList .postsList__item {
    margin-bottom: var(--space-l);
    font-size: 1.5rem;
    text-transform: capitalize;
    
}

.postsList .postsList__item a {
    text-decoration: none;
}

.post code,
.post pre {
    background: #eee;
}

.post code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

.post pre {
    padding: 1rem;
}

.post header .createdDate {
    font-size: 0.875rem;
}

/* custom quoting styling allowing for nice quote author */
.post blockquote {
    margin-left: 0;
    font-size: 1.2rem;
}

.post blockquote > p {
    padding-left: var(--space-m);
    border-left: 4px solid var(--color-dark);
}

.post blockquote > p > em:last-child {
    display: block;
    /* negative margin trick to cover border to make it vertically shorter */
    margin-left: calc(-1 * (var(--space-m) + 4px));
    border-left: 4px solid var(--color-white);
    text-align: end;
}