/* Super awesome: https://jgthms.com/web-design-in-4-minutes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --space-m: 1rem;
    --space-l: 2rem;

    --color-primary: #023047;
    --color-secondary: #219EBC;
    --color-tertiary: #8ECAE6;
    --color-4: #FFB703;
    --color-5: #FB8500;
    --color-dark: #444444;
  }

/* General & theme */

html {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 40em;
    color: var(--color-dark);
    line-height: 1.5;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2 {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
}
a:visited {
    color: var(--color-primary);
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

/* Page specific */

.postsList {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.postsList .postsList__item {
    margin-bottom: var(--space-l);
    font-size: 1.5rem;
    text-transform: capitalize;
    
}

.postsList .postsList__item a {
    text-decoration: none;
}