/* Super awesome: https://jgthms.com/web-design-in-4-minutes */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --space-s: .5rem;
    --space-m: 1rem;
    --space-l: 2rem;

    --color-primary: #023047;
    --color-secondary: #219EBC;
    --color-tertiary: #8ECAE6;
    --color-4: #FFB703;
    --color-5: #FB8500;
    --color-dark: #444444;
    --color-white: #ffffff;
    --color-lightgrey: #e1e1e1;
    --color-grey: #aaaaaa;

    --font-weight-normal: 400;
    --font-weight-medium: 700;
    --font-weight-bold: 900;
}

/* General & theme */

html {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0 auto;
    padding: 1.5rem 1rem;
    max-width: 40em;
    color: var(--color-dark);
    line-height: 1.5;
}

h2 {
    margin-top: var(--space-m);
}

h1,
h2 {
    color: var(--color-primary);
}

a {
    color: var(--color-secondary);
}

/* Header & Footer */

.header h1 {
    margin: var(--space-s) 0 var(--space-l) 0;
    font-size: 1.8em;
    font-weight: var(--font-weight-bold);
    letter-spacing: 2px;
    cursor: pointer;
}

.header h1 a {
    color: var(--color-tertiary);
    font-size: 2rem;
}

.footer {
    margin-top: calc(var(--space-l) * 2);
    border-top: 1px solid var(--color-lightgrey);
}

/* Posts page */

.postsList {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.postsList .postsList__item {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.postsList .postsList__item .postsList__itemLink {
    margin-bottom: var(--space-s);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    text-decoration: none;
}

.postsList .postsList__item .postsList__itemLink:hover {
    color: var(--color-secondary);
}

.postsList .postsList__item .postsList__itemDate {
    padding-left: var(--space-s);
    color: var(--color-grey);
    font-style: italic;
    font-size: 0.8rem;
}

/* Single Post page */

.post code,
.post pre {
    background: #eee;
}

.post code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

.post pre {
    padding: 1rem;
}

.post header .createdDate {
    font-size: 0.875rem;
}

.post header h1 {
    font-size: 2rem;
}

.post h2 {
    margin-top: calc(var(--space-m) + var(--space-s));
}

.post hr {
    margin: var(--space-l);
    height: 1px;
    border: 0;
    background-color: var(--color-lightgrey);
}

/* custom quoting styling allowing for nice quote author */
.post blockquote {
    margin-left: 0;
    font-size: 1.2rem;
}

.post blockquote > p {
    padding-left: var(--space-m);
    border-left: 4px solid var(--color-dark);
}

.post blockquote > p > em:last-child {
    display: block;
    /* negative margin trick to cover border to make it vertically shorter */
    margin-left: calc(-1 * (var(--space-m) + 4px));
    border-left: 4px solid var(--color-white);
    text-align: end;
}
